{% extends "registrasiKTP/base.html" %}
{% block content %}



<h1>Halo, Para Calon Pegawai!</h1>
<h4>Sebagai salah satu syarat untuk penerimaan pegawai di PT AGT adalah pengisian data pribadi sesuai dengan KTP</h4>
<br><br>
<h5>berikut ini adalah persyaratan yang perlu disiapkan :</h5>
<ul class="list-group">
  <li class="list-group-item">Nomor NIK :</li>
  <li class="list-group-item">Nama Lengkap</li>
  <li class="list-group-item">Jenis Kelamin</li>
  <li class="list-group-item">Tempat Lahir</li>
  <li class="list-group-item">Tanggal Lahir</li>
  <li class="list-group-item">Agama</li>
  <li class="list-group-item">Status Nikah</li>
</ul>

<a href="/pengisianform">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ISIKAN DATA</button>
</a>

 {% endblock %}